* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: black;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
}

h3, h5 {
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* navigation scroll */
nav {
    position: fixed;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.7);
    width: 100%;
    background: black;
}

/* mobile navigation */
.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -2000px;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}
   
.active {
    top: 0;
    transition: 0.3s ease;
    background: rgb(33, 37, 41);
}

.fa-xmark {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2rem;
    color:#00BFB2;
    cursor: pointer;
}

.close-btn {
    background: transparent;
    border: none;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 2rem;
    color: white ;
    letter-spacing: 0.1rem;
}

.primary-btn {
    padding: 0.6em 2.3em;
    border-radius: 4em;
    border: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: #00BFB2;
    color: white;
    cursor: pointer;
}

.primary-btn:hover {
    opacity: 85%;
}

/* site navigation */
.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
}

.open-btn {
    border: none;
}

.fa-bars {
    /* position: absolute;
    right: 20px;
    top: 30px; */
    font-size: 1.7rem;
    color:#00BFB2;
    cursor: pointer;
    background: black;
}

.logo {
    color: #00BFB2;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.right-side-nav {

}

.site-links {
    color: white;
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.site-links li:hover {
    color: #00BFB2;
}

/* name text section */
.name-text-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
}

.name-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: 100vh;
    justify-content: center;
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

.fa-github, .fa-linkedin, .fa-twitter {
    font-size: 2rem;
}


h1, h3 {
    color: white;
}

h1 {
    font-size: clamp(2.3rem, 8vw, 5rem);
    letter-spacing: 0.1em;
    transition: 0.8s ease-in-out;
}

h1:hover {
    transform:scale(125%);
    opacity: 2%;
}

.first-name {
    text-decoration: 9px #00BFB2 overline ;
}

.last-name {
    text-decoration: 9px #00BFB2 underline;
    text-underline-offset: 15%;
}

.job-title {
    font-size: clamp(0.9rem, 4vw, 2rem);
    letter-spacing: 0.1em;
    color: rgb(177, 182, 185);
}

.work-btn {
    margin-top: 50px;
    color: black;
}

/* about section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    background: rgb(18, 18, 19);
    gap: 4em;
}

.about-section-left {
}

.about-section-left img {
    height: 300px;
}

.selfie {
    border:5px solid #00BFB2;
    border-radius: 50%;
    background: lightgray;
}

.about-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    width: 50%;
}

.about-section-header {
    font-size: clamp(2.5rem, 9vw, 4rem);
    font-family: 'Montserrat', sans-serif;
}

.about-section-text {
    color: lightgray;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: justify;
    word-spacing: -2px;
}

.download-resume-btn {
    background: black;
    color: white;
    border: 2px solid white;
}

.download-resume-btn:hover {
    
    border:2px solid #00BFB2;
}

/* skill section */
.skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.skill-section-header {
    font-size: clamp(2.5rem, 9vw, 4rem);
    font-family: 'Montserrat', sans-serif;
}

.skill-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 6em;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    transition: 0.2s ease-in-out;
}

.skill:hover {
    transform: scale(125%);
}

.dev-icon {
    height: 60px;
}

.skill-name {
    color: gray;
    text-transform: uppercase;
    font-weight: 900;
}

/* marquee section */
.marquee {
    background:rgb(18, 18, 19);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    overflow: hidden;
    padding: 5em 0em;
}


.marquee-item {
    color: white;
    font-family: 'Permanent Marker';
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 1rem;
    white-space: nowrap;
}

/* project section */
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    padding: 4em 0em;
    color: white;
    width: 80%;
    gap: 4em;
}

.project-type {
    color: gray;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: 900;
}

.project-title {
    font-size: clamp(2rem, 9vw, 3.5rem);
    font-family: 'Permanent Marker';
    color:#00BFB2;
}

.project-body {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project-description {
    line-height: 2rem;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    
    
}

.project-languages {
    color: gray;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 3vw, 1.4rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.project-buttons {
    display: flex;
    gap: 2em;
}

.live-btn {
    border: 2px solid black;
    color: black;
}

.code-base-btn {
    background: transparent;
    border: 2px solid white;
}

.code-base-btn:hover {
    background: #00BFB2;
    color: black;
    border: none;
    transition: 0.2s ease-in-out;   
}

/* contact section */
.contact-section {
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.contact-section-header {
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: clamp(2rem, 3vw, 6rem);
}

.contact-section-text {
    text-transform: uppercase;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.email-btn {
    text-transform: uppercase;
    color: black;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.email-btn:hover {
    outline:3px solid #00BFB2;
    border: 6px solid black;
}


/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1.5em 0em;
    font-weight: 900;
}

.footer-header {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: 900;
}

.footer-social-media-icons {
    display: flex;
    gap: 1.5em;
    color: black;
}

.footer-text {
    color: white;
    font-size: clamp(0.8rem, 3vw, 1rem);
    text-align: center;
}

.portfolio-footer-link:hover {
    color: #00BFB2;
}

/* media queries */
@media screen and (min-width:760px) {
    .fa-bars {
        display: none;
    }
}

@media screen and (max-width:760px) {
    .site-links {
        display: none;
    }

    .social-media-icons {
        display: none;
    }
}

@media screen and (max-width:988px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-section-header {
        text-align: center;
    }

    .about-section-right {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .about-section-text {
        color: lightgray;
        font-size: 1.3rem;
        line-height: 2.2rem;
        text-align: justify;
        word-spacing: -2px;
    }
}

@media screen and (max-width:546px) {
    .skill-group {
        grid-template-columns: 1fr 1fr;
    }

    .dev-icon {
        height: 50px;
    }

    .live-btn, .code-base-btn {
        font-size: 0.8rem;
    }

    .marquee {
        padding: 2em 0em;
    }

   .project-description {
    line-height: 1.5rem;
   }
}

@media screen and (max-width:1280px) {
    .project {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .projects-section {
        padding: 0em;
        
    }

   .project-gif {
    width: 100%;
   }
}